<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add New Product</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSave()">Save</ion-button>
      <ion-button [routerLink]="['/manager']">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Enter Product Name</ion-label>
    <ion-input [formControl]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Enter Product Price</ion-label>
    <ion-input [formControl]="price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Enter Product Quantity</ion-label>
    <ion-input [formControl]="quantity"></ion-input>
  </ion-item>
</ion-content>
