<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manager"></ion-back-button>
    </ion-buttons>
    <ion-title>restock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Enter new quantity</ion-label>
    <ion-input [formControl]="qty"></ion-input>
  </ion-item>
  <br/>
  <ion-button fill="outline" id="container1" (click)="restockBtn()">Restock</ion-button>
  <ion-button fill="outline" id="container2" [routerLink]="['/manager']">Cancel</ion-button>

  <h4>{{label}}</h4>
  <ion-list>
    <ion-item *ngFor="let pro of products" button (click)="itemClicked(pro)">
      <ion-label>{{pro.type}}</ion-label>
      <ion-label slot="end">{{pro.quantity}}</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
