
#managerbtn{
  font-size: 16pt;
  width: 145px;
  height: 60px;
}
#btn {
  font-size: 18pt;
}
#btn1 {
  font-size: 18pt;
  padding-bottom: 10px;
}
#buybtn {
  width: 60px;
  height: 130px;
  font-size: 16pt;
}
#container {
  padding: 20px;
}